<div class="flex justify-around items-center-safe">

    @if (isAuthenticated()) {
    <img src="assets/img/app-logo.png" alt="Pictsmanager's logo" width="100px" height="100px">

    <ul class="menu flex items-center-safe text-black gap-4 bg-black/5 rounded-xl p-2">
        <li><button hlmBtn variant="ghost">Home</button></li>
        <li><button hlmBtn variant="ghost">My Profile</button></li>
    </ul>
    <button hlmBtn variant="outline" size="sm">
        <span>Sign Out</span>
        <ng-icon hlm size="sm" name="lucideLogOut" />
    </button>
    } @else {
    <img src="assets/img/app-logo.png" alt="Pictsmanager's logo" width="100px" height="100px">

    <ul class="menu flex items-center-safe text-black gap-4 bg-black/5 rounded-xl p-2">
        <li><button hlmBtn variant="ghost">Home</button></li>
        <li><button hlmBtn variant="ghost">Get Started</button></li>
        <li><button hlmBtn variant="ghost">About</button></li>
    </ul>
    <button hlmBtn variant="outline" size="sm">
        <span>Sign In</span>
        <ng-icon hlm size="sm" name="lucideLogIn" />
    </button>
    }


</div>