@if (isProcessing()) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40">
    <div class="flex w-full max-w-xs flex-col gap-4 rounded-xl text-white shadow-lg">
        <div hlmItem class="bg-black">
            <hlm-item-media>
                <hlm-spinner />
            </hlm-item-media>

            <hlm-item-content>
                <div hlmItemTitle class="line-clamp-1">
                    Updating your profile...
                </div>
            </hlm-item-content>
        </div>
    </div>
</div>
}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-6 sm:mt-10">
    <my-profile [userProfile]="userProfile()" (updateFormOutput)="updateUserProfile($event)"></my-profile>

    <div class="mt-8 sm:mt-10 border-t border-neutral-200 pt-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            @for (post of userPosts(); track $index) {
            <app-post [profileLayout]="false" [post]="post" (toggleLikeBtnOutput)="toggleLikePost($event)"></app-post>
            }
        </div>
    </div>
</div>